h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 4.6vw;
    font-weight: 800;
    letter-spacing: 0.93vw;
    margin: 1vw;
    position: relative;
    bottom: -1vw;
}

h2 {
    display: none;

}

h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    letter-spacing: 0.2vw;
}

h4{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    letter-spacing: 0.2vw;
    position: relative;
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
}

p {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    letter-spacing: 0.1vw;
    line-height: 1.5;
}

p2 {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    letter-spacing: 0.1vw;
    line-height: 1.5;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    height: 100%;
    margin: 0.7vw;
}

#title {
    bottom:0.5vw;

}

#outerWrapper {
    box-sizing: border-box;
    width: 100%;
    height: 18vw;
    background-color: rgb(225, 0, 105);
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-bottom: 0.3vh;
}

#language{
    position: relative;
    bottom: -1.2vw;
    right: 58.9vw;
}
#fin {
    position: absolute;
    left: 21vw;
    width: 13vw;

}
#en {
    position: absolute;
    left: 37vw;

}


div.outerWrapper button {
    
    box-sizing: border-box;
    width: 15vw;
    height: 10vw;
    padding: 2vw 1vw;
    cursor: pointer;
    text-align: center;
    background-color: #fa1cc200;
    font-size: 3.5vw;
    font-family:'roboto', sans-serif;
    letter-spacing: 0.2vw;
    border: none;
    color: white;
    border-radius: 4px;
    margin: 1vw, 3vw;

} 

#siteInstructions, #siteInstructionseng {
    position: absolute;
    width: 12vw;
    left: 95vw;
    bottom: -7.5vw;
    color: black;
    background-color: white;
}

#siteInstructions:hover, #siteInstructionseng:hover {
    background-color: rgb(175, 174, 174);
}

#siteInstructions:active, #siteInstructionseng:active {
    background-color: rgb(175, 174, 174);
    transform: translateY(2px);

}

#instructions {
    background-color: rgb(175, 174, 174);
    padding: 2vw;

}

#kokoVisa, #kokoVisaeng {
    width: 28vw;
    position: absolute;
    left: 62vw;
    bottom: -7.5vw;
    background-color: rgb(2, 133, 11);
    border: 1px solid;
    border-color: blanchedalmond;
}

#kokoVisaeng {
    line-height: 3vw;
    padding-bottom: 5vw;
}

#kokoVisa:hover, #kokoVisaeng:hover {
    background-color: rgb(0, 90, 6);
    color: white;
} 

#kokoVisa:active, #kokoVisaeng:active {
    background-color: rgb(0, 90, 6);
    color: white;
    box-shadow: 0 0px #666; 
    transform: translateY(2px);
} 

#slash{
    font-family: 'roboto', sans-serif;
    font-size: 3.5vw;
    margin: 1vw, 3vw;
    display: row;
    position: absolute;
    left: 35vw;
    top: 3vw;
}

div.outerWrapper button:hover {
    background-color: rgb(235, 130, 170);
}

div.outerWrapper button:active {
    background-color: rgb(155, 0, 75); 
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}

.buttons button {
    box-sizing: border-box;
    max-width: 100%;
    height: 12vw;
    padding: 3vw;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 0.25vh;
    cursor: pointer;
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 4vw;
    letter-spacing: 0.2vw;
    color: white;
    box-shadow: 0 4px #999;
    margin-bottom: 0.5vh;
    
}

.oulubtn, .oulubtneng {
    background-color: rgb(218, 61, 14); 
    border: #441f22be;
    width: 33%;
    display: inline;
    float: left;  
}

.oulubtneng {
    display: none;
}

.oulubtn:hover, .oulubtneng:hover {
    background-color: rgb(180, 51, 12);
}
.oulubtn:active, .oulubtneng:active {
    background-color: rgb(180, 51, 12);
    box-shadow: 0 0px #666; 
    transform: translateY(4px);
}

.kaupunkibtn, .kaupunkibtneng {
    display: inline;
    width: 33%;
    background-color: #1c25a1be; 
    border: white;
}

.kaupunkibtneng {
    display: none;
}

.kaupunkibtn:hover, .kaupunkibtneng:hover {
    background-color: #121869be;
}
.kaupunkibtn:active, .kaupunkibtneng:active {
    background-color: #31367ebe; 
    box-shadow: 0 0px #666; 
    transform: translateY(4px);
}
.kampusbtn, .kampusbtneng  {
    display: inline;
    width: 33.2%;
    float:right;
    background-color: #8a1567be; 
    border: white;
}

.kampusbtneng {
    display: none;
}

.kampusbtn:hover, .kampusbtneng:hover {
    background-color: #610f48be;
}
.kampusbtn:active, .kampusbtneng:active {
    background-color: #610f48be;
    box-shadow: 0 0px #666; 
    transform: translateY(4px);
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    margin: 0, auto;
    margin-bottom: 0.5vh;
    transition-duration: 0.4s;
    background-color: white;
    font-size: 0;
}

div.scrollmenu a {
    border-radius: 4px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    letter-spacing: 0.2vw;
    text-align: center;
    padding: 4.5vw 3vw;
    margin-left: 0.5px;
    margin-right: 0.5px;
    background-color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
  
.kampus, .campus {
    border: 2px solid #8a1567be; 
}

.kaupunki, .city {
    border: 2px solid #1c25a1be; 
}
  
.kampus, .kaupunki {
    display: inline-block;
}

.campus, .city {
    display: none;
}

.kampus:hover, .campus:hover {
    background-color: #8a1567be;  
    color: white;
}

  
.city:hover, .kaupunki:hover {
    background-color: #1c25a1be; 
    color: white;
}

#visabtn {
    float: center;
    box-sizing: border-box;
    width: 60vw;
    padding: 1.2vw;
    cursor: pointer;
    font-size: 2.7vw;
    font-family:'roboto', sans-serif;
    letter-spacing: 0.2vw;
    color: black;
    background-color: #ECEFF1;
    border-radius: 4px;
    margin-top: 0.9vh;
    border: 2px solid #fa1cc3be;   
    box-shadow: 0 2px #999;
    transition-duration: 0.4s;
}

#visabtn:hover {
    color: white; 
    background-color: #fa1cc2;
}
#visabtn:active {
    background-color: #fa1cc3be; 
    box-shadow: 0 0px #666; 
    transform: translateY(2px);
}

#map {
    box-sizing: border-box;
    position: relative;
    height: 80vh;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 2vh;
}

#markerImages {
    width:100%; 
    position: sticky; 
    bottom: -1vw; 
    box-sizing:border-box;
}

#bodyContent {
    text-align: left;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 5vh;
    padding-bottom: 5vh; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 90%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    padding: 1vw;
    background-color: rgb(225, 0, 105);
    color: white;
}

.modal-quiz {
    padding: 3vw; 
    background-color: white;
}

.modal-footer {
    padding: 2.5vw;
    background-color: rgb(2, 133, 11);
    color: white;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#vastausbtn, #vastausbtneng {
    box-sizing: border-box;
    width: 40vw;
    padding: 1.5vw;
    cursor: pointer;
    font-size: 3.2vw;
    font-family:'roboto', sans-serif;
    letter-spacing: 0.2vw;
    color: white;
    background-color: #16cf44;
    border-radius: 1vw;
    margin-bottom: 0vh;
    border: #441f22be;   
    box-shadow: 0 2px #999;
}

#vastausbtn:hover, #vastausbtneng:hover{
    background-color: #12a537;
}
#vastausbtn:active, #vastausbtneng:active{
    background-color: #12a537;
    box-shadow: 0 0px #666; 
    transform: translateY(2px);
}


input[type='radio'] { 
    transform: scale(2.5); 
    margin-right: 3vw;
}